@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
*{
    font-family: 'Playfair Display', serif;
}

body{
    background-image: url("https://source.unsplash.com/random/?wallpaper,Nature");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 0 0 0;
}

#loader{
    position:absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.log-img{
    background-color: #ffffffb4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    align-content: center;
    text-align: center;
    top: 10px;
}

.search{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100px;
}

.web-name{
    text-transform: capitalize;
    font-size:x-large;
    padding-left: 10px;
}
.nav{
    display: flex;
    justify-content: center;
}
.nav-btn{
    padding: 10px 10px 10px 10px;
    font-size:x-large;
    text-decoration: none;
    color: rgb(9, 10, 10);
    margin-right: 5px;
    padding: 1.3vh 1.3vh 1.3vh 1.3vh;
}
.nav-btn:hover{
    color: white;
}

.container{
    display: flex;
    background-color:rgba(246, 241, 241, 0.881);
    flex-direction: row;
    align-content: right;
    margin: 0% 0% 0% 0%;
    height: 12vh;
    justify-content:space-between;
    align-items: center;
    
}
#body-continer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cont{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items:center;
    margin: 50px 200px 50px 200px;
    background-color:#fbfcfc00;
    height: 350px;
    box-shadow: 0px 6px 6px #0b0d0d;
    padding:5px 5px 5px 5px;
    border: 1px solid #040505;
    border-radius: 5px;
    overflow: hidden;
    transition: all 3s ease;
    opacity: 1;
}
.cont.show{
    transform: translateX(0);
    opacity:1;
}
.cont:hover{
    background-color: #fcfeffa6 ;
    box-shadow: 0px 2px 0px #fafeff40;
    position: relative;
    top: 2px;
}
.cont-disc{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin: 5px 5px 5px 5px;
    text-align:center;
    justify-content: center;    
}
.button {
    color: #ecf0f1;
    font-size: 22px;
    background-color: #000000;
    border: 1px solid #0d0f0f;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 6px 0px #0b0d0d;
    transition: all .1s;
    margin-right:30px;
    text-decoration:none;
    
}
.button:active {
    background-color:#eaf116 ;
    box-shadow: 0px 2px 0px #fafeff;
    position: relative;
    top: 2px;
}
.btn-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 10vw;
}
.hero{
    display: flex;
    align-items: center;
  justify-content: center;
    width: 100%;
   background-color:#03060800 ;
   flex-wrap: nowrap;
   flex-direction: column;
}
.search-bar{
    all:unset;
    color: rgb(9, 5, 5);
    background-color: rgba(240, 248, 255, 0.307);
    padding: 15px 35px 15px 35px;
    border-radius: 10px;
    justify-content: center;
    width: 200px;
    
   }
   .btn{
     background-color: rgba(128, 139, 149, 0.384);
     padding: 7px 30px 7px 30px;
     border-radius: 10px;
     font-size:x-large;
     color: aliceblue;
     margin-left: 20px;
   }
.web-name{
    font-size:x-large;
    font-weight: 900;
    color: #000000;
}   
.cont-header{
    font-size:xx-large;
    font-weight: 900;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button1{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    background-color: #FBFCFC;
    border: 1px solid #040505;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 6px 0px #0b0d0d;
    transition: all .1s;
    margin-right:30px;
    width: auto;
    text-decoration:none;
    justify-content:space-evenly;
}

.button1:active {
    background-color:#bccad6 ;
    box-shadow: 0px 2px 0px #fafeff;
    position: relative;
    top: 2px;
}
@media (max-width:1154px) {
    .cont{
        flex-direction: column;
        height: fit-content;
    }
    .image{
        margin-top: 20px;
    }
}